<div class="login-container">
  <div class="login-box">
    <div class="box-title">Login</div>
    <form>
      <div class="input-group">
        <label for="name">Name</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
      </div>
      <div class="input-group">
        <label for="username">Surname</label>
        <input type="text" id="surname" name="surname" placeholder="Enter your surname" required>
      </div>

      <div class="input-group">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
      </div>

      <div class="input-group">
        <label for="username">Email</label>
        <input type="text" id="email" name="email" placeholder="Enter your email" required>
      </div>

      <div class="input-group">
        <label for="password1">Password</label>
        <input type="password" id="password1" name="password" placeholder="Enter your password" required>
      </div>

      <div class="input-group">
        <label for="password2">Password</label>
        <input type="password" id="password2" name="password" placeholder="Enter your password" required>
      </div>

      <button type="submit" class="login-btn">REGISTER</button>
    </form>
    <br>
  </div>
</div>
