<div class="groups-maindiv">
  <div class="groups">
    <div class="button-div"><a href="http://localhost:4200/create-group"><button class="create-btn">Create your group</button></a></div>
    <div><h2>Explore new groups</h2></div>
    <div *ngFor="let group of groupsExplore">
      <div class="group-bar">
        <a class="group-name" href="http://localhost:4200/group/{{group.id}}">{{ group.name }}</a>
        <p class="group-desc">Description: {{ group.description}}</p>
      </div>
    </div>
  </div>
</div>

