<header class="app-header">
  <div class="logo">|Your:People|</div>
  <div class="search-bar">
    <input type="text" placeholder="Search...">
    <button>Search</button>
  </div>
  <nav>
    <button routerLink="/">Home</button>
    <button routerLink="/groups">Groups</button>
    <button *ngIf="!logged" routerLink="/login">Login</button>
    <button *ngIf="!logged" routerLink="/register">Register</button>
    <button routerLink="/friends">Friends</button>
    <button routerLink="/profile">Profile</button>
    <button *ngIf="logged" (click)="logout()">Logout</button>
  </nav>
</header>
