div {
  background-color: #1a1a1a;
  color: #fff;
  border-radius: 8px;
  padding: 15px;
  margin: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-main{
  background-color: #45a049;
}
/* User Info */
.user-info {
  display: flex;
  align-items: center;
}
.post-content-div{
  background-color: #555555;
}
p {
  margin-top: 2px;
  margin-bottom: 2px;
}
p.username {
  font-size: 25px;
}
p.post-content{
  font-size: 20px;
}
a{
  color: #00ff00;
  text-decoration: underline;
  font-size: 15px;
}

.user-info {
  display: flex;
  flex-direction: column; /* Make child elements stack vertically */
  align-items: flex-start;
  margin-bottom: 10px;
}

.username {
  font-size: 16px;
  font-weight: bold;
  color: #00ff00; /* Green color */
  text-decoration: none;
}

/* Group Info */
.group-info {
  margin-bottom: 15px;
}

.group-name {
  font-size: 14px;
  color: #00ff00; /* Green color */
}

/* Post Content */
.post-content {
  font-size: 16px;
  margin-top: 10px;
}

/* Reactions */
.reactions {
  display: flex;
  align-items: center;
  margin-top: 2px;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}

button img {
  width: 20px;
  height: 20px;
}

span {
  font-size: 14px;
  margin-left: 5px;
}

/* Open Comments Button */
.open-comments-btn {
  background-color: #00ff00; /* Green color */
  color: #333;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

/* Comments Section */
h2 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #00ff00; /* Green color */
}
