<div>
<!--  user info and group info-->
  <div class="user-info">
<!--    <img src="user-placeholder.jpg" alt="User Photo">-->
    <p class="username">{{ post?.username }}</p>
    <p class="group-name">Posted in {{ post?.groupName }}</p>
  </div>
  <div>
    <p class="post-content">{{ post?.content }}</p>
  </div>
<!--  post content-->
  <div class="reactions">
    <button (click)="reactLike()"><img src="assets/reactionIcons/like.png" alt="Like"></button>
    <button (click)="reactDislike()"><img src="assets/reactionIcons/laugh.png" alt="Laugh"></button>
    <button (click)="reactLove()"><img src="assets/reactionIcons/love.png" alt="Love"></button>
    <span>{{ post?.reactionStat }} Reactions</span>
  </div>
  <button class="open-comments-btn" (click)="openComments()">Open Comments</button>
<!--comments auto closed, oppened when toggled above-->
  <div *ngIf="commentToggle">
    <h2>Comments</h2>
    <div>
      <app-comments [post]="post?.id"></app-comments>
    </div>
    <input class="comment" type="text" [(ngModel)]="commentInput">
    <button (click)="commentOnPost()">Comment</button>
  </div>
</div>
